matplotlib==3.4.2
numpy==1.19.3
torchvision==0.10.1
torch==1.9.1
opencv-python==4.5.2.54
six==1.16.0
scipy==1.6.3
scikit-image==0.18.1
scikit-learn==0.24.2
Pillow==8.3.2
psutil==5.8.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
networkx==2.5.1
imageio==2.9.0
joblib==1.0.1
kiwisolver==1.3.1
kornia==0.5.3
requests==2.25.1
tqdm==4.62.3